* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #d6d8d4;
}

body, html {
  height: 100%;
}

#navbar,
#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: #d0b3b9;
  padding: 0 0.5em;
  font-size: clamp(1rem, 2vw, 3rem);
}

#footer {
  justify-content: center;
  font-size: clamp(0.5rem, 1vw, 2rem);
  height: 2rem;
}

#logo-container,
#links-container,
#copyright,
#extras {
  display: flex;
  gap: 10px;
  padding: 5px;
}

#links-container > a {
  text-decoration: none;
  color: inherit;
  padding: 5px;
  border-radius: 5px;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

#links-container > a:hover {
  background-color: #fef4eb;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

#index-title {
  padding: 10px;
}

#contact-title {
  font-size: clamp(1rem, 10vw, 2rem);
  padding: 10px;
}

#container-main {
  background-color: #fef4eb;
  min-height: calc(100vh - 5rem);
  margin-left: 10vw;
  margin-right: 10vw;
  box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
}

#logo {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

#name,
#logo-container > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#name {
  font-family: "Shadows Into Light", cursive;
}

.main-content {
  font-size: clamp(1rem, 2vw, 3rem);
  padding: 1rem;
  overflow: hidden;
  color: #363130;
}

.parallaxheader {
  background-image: url(../Media/Images/Parallaxheaderimage.jpg);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;

}

.parallax-content {
  background: rgba(254, 244, 235, 0.5);
  border-radius: 5px;

}

.parallax-content h1 {
  font-size: clamp(1rem, 2vw, 3rem);
}

@media only screen and (max-device-width: 1366px) {
  .parallaxheader {
    background-attachment: scroll;
  }
}



@media only screen and (max-width: 430px) {
  #name {
    display: none;
  }
}

#appointment-link {
  position: fixed;
  bottom: 70px;
  right: 0.5em;
  text-decoration: none;
  padding: 5px;
  background-color: #d0b3b9;
  color: inherit;
  border-radius: 5px;
  font-size: clamp(0.5rem, 1.5vw, 5rem);
  -webkit-box-shadow: 0 0 7px rgb(47, 46, 46);
  box-shadow: 0 0 7px rgb(47, 46, 46);
}

#copyright {
  display: flex;
  align-items: center;
}


header {
  background-color: #d0b3b9;
  text-align: center;
  color: white;
  font-size: 22px;
  padding: 10px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

#workshop-section {
  padding: 20px;
  background-image: url('../Media/Images/Bachelors.jpg');
  background-size: cover;
  overflow: hidden;
}

.formContainer {
  max-width: 280px;
  background-color: #8e7f7fbb;
  padding: 20px;
  float: right;
}

.mb {
  margin-bottom: 20px;
}

input, select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
}

input[type="submit"]{
  color: white;
  background-color: rgb(3, 95, 128);
  font-weight: bold;
}

#top-content {
  display: grid;
  max-width: 100%;
  margin: 0 auto;
  grid-gap: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid grey;
  color: rgb(21, 19, 19);
}

.top {
  padding: 5px;
  min-height: 20rem;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

#contact-form > input {
  padding: 5px;
  font-size: clamp(1rem, 2vw, 3rem);
}

#contact-form > input[type="submit"] {
  background-color: #d0b3b9;
  border: 0;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  cursor: pointer;
  display: inline-block;
  text-align: start;
  border-radius: 10px;
}
#contact-form > input[type="submit"]:hover {
  background-color: #fef4eb;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

#contact-form > textarea {
  resize: vertical;
  padding: 5px;
  font-size: clamp(1rem, 2vw, 3rem);
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media (min-width: 600px) {
  #top-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

#bottom-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: rgb(21, 19, 19);
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: #d0b3b9;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(254, 244, 235);
}